
# ignore any and all target directories created by sbt.
/project/project/target/
/project/target/
/target/

/client/target/
/server/target/

/common/.js/target/
/common/.jvm/target/

/node_modules/

# for transforming from spa template, remove again later on.
/prev-*