<!-- The default logback configuration that Play uses in dev mode if no other configuration is provided -->
<configuration>

  <conversionRule
    conversionWord="coloredLevel"
    converterClass="play.api.libs.logback.ColoredLevel" />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
     <pattern>%coloredLevel %logger - %message%n%xException</pattern>
     <!-- <pattern>*** \(%logger{30}\)%green(%X{debugId}) %msg%n</pattern> -->
    </encoder>
  </appender>

  <root level="WARN">
    <appender-ref ref="STDOUT" />
  </root>

  <logger name="com.gargoylesoftware.htmlunit.javascript" level="OFF" />

  <logger name="play" level="TRACE" />

  <logger name="application" level="TRACE" />

  <!-- all dbio actions -->
  <!-- <logger name="slick.basic.BasicBackend.action" level="TRACE" /> -->

  <!-- all slick sql variable bindings -->
  <logger name="slick.jdbc.JdbcBackend.parameter" level="TRACE" />

  <!-- all slick sql statements -->
  <logger name="slick.jdbc.JdbcBackend.statement" level="TRACE" />

  <!-- silhouette -->
  <logger name="com.mohiva" level="TRACE" />
</configuration>
