
ul.story-list {
  li > a > img {
    width: 4rem;
    height: 4rem;
    margin-right: 0.3rem;
  }
}


// ingame


div#matter {
  display: flex;
  margin-top: 0;

  div#centre {
    flex-grow: 1;
  }

  div#side {
    flex-grow: 0;
    min-width: 13rem;
  }

  & > div > :first-child {
    margin-top: @font-size;
  }
}


.markdowned {
  blockquote, pre {
    margin: 0.4em @gn-padding 0.6em @gn-padding;
    padding-left: 0.6em;
    border-left: solid 0.2em @highlight-background;

    font-family: inherit;
  }

  hr {
    margin: 0.6em 25% 0.8em 25%;
    border-top: solid 0.09em hsv(0, 0, 0.4);
    box-shadow: 0.05em 0.1em 0.05em hsv(0, 0, 0.9);
  }

  ol {
    margin: 0.4em @gn-padding 0.6em (@gn-padding + 1.2em);
    list-style-type: decimal;
    list-style-position: outside;  }

  li {
    & > p {
      margin-left: 0;
      text-indent: 0;
    }
  }
}


// effekte.

.effects {
  margin: 0.6rem 0.9rem 0.45rem 0.9rem;

  & > li {
    display: flex;
    margin-bottom: 0.2em;
    align-items: center;

    & > img {
      width: 1.8em;
      height: 1.8em;
      margin-right: 0.3em;
    }
  }
}


// auswahl

.choices > li {
  min-height: 2.1em;

  & > img:first-child {
    float: left;
    width: 5rem;
    height: 5rem;
    margin: 0 0.5rem;
  }

  & p {
    position: relative;
    padding-right: 5.5rem;
    /* min-height: 2.6rem; */
    /* clear: right; */

    & > button {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 5rem;
    }
  }

  & .markdowned > button {
    margin-left: auto;
    margin-right: 1em;
    width: 5rem;
    display: block;
  }
}

button.return {
  margin: 0.4rem 0 0.7rem auto;
  display:block;
}


.requirements {
  float: right;
  margin-top: 0.1rem;
  margin-right: 0.3rem;

  & > li {
    z-index: 2;

    & > .tooltip {
      display: flex;
      flex-direction: column;
    }

    &.disabled {

      & > .tooltip > *:last-child {
        color: @error;
      }
    }
  }
}


// sidebar

ul.quality {
  margin: (@font-size * 0.8) (@font-size * 0.4);

  & > li {
    width: 100%;

    &.big {
      & > a {
        font-size: @font-size;
        line-height: @font-size * @line-height-factor;

        background: hsv(0, 0, 0.9);
        border-radius: 0.3rem;
        border: 1px solid @horizontal-line;

        display: block;
        padding: (@font-size * 0.3);

        text-decoration: none;
        color: @font;
        text-align: center;

        &:hover {
          background: hsv(30, 0.32, 0.85, 0.1)
                         url("../images/menu-background.png");
          color: @link;
          border: 0.05em solid @link;
        }

        img {
          display: block;
          width: 4em;
          height: auto;
          justify-content: center;
          margin: 0 auto;
        }
      }

      .level:before {
        content: ' ';
      }
    }

    &.small {
      border-bottom: 0.05em solid @horizontal-line-light;
      display: flex;
      align-items: center;

      &:last-child {
        border-bottom: 0;
      }

      a, span {
        flex-grow: 1;
        display: flex;
        align-items: center;
        white-space: nowrap;
        overflow: hidden;
        height: 3em;

        & > img {
          padding: @font-size * 0.2;
          height: ~"calc(100% - 0.4em)";
        }

        & > span {
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }

      span {
        margin-left: 0.2em;
        flex-grow: 0;
      }
    }

    &.tiny {
      margin: (@font-size * 0.3) 0;
      display: flex;

      img {
        display: none;
      }

      a {
        flex-grow: 1;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
