
ul.story-list {
  li > a > img {
    width: 4rem;
    height: 4rem;
    margin-right: 0.3rem;
  }
}


// ingame


div#matter {
  display: flex;
  margin-top: 0;

  div#centre {
    flex-grow: 1;
  }

  div#side {
    flex-grow: 0;
    min-width: 13rem;
  }

  & > div > :first-child {
    margin-top: @font-size;
  }
}



// auswahl


.choices > li {
  & > img:first-child {
    float: left;
    width: 5rem;
    height: 5rem;
    margin: 0 0.5rem;
  }

  & > p {
    position: relative;
    padding-right: 5.5rem;
    min-height: 2.6rem;

    & > button {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 5rem;
    }
  }
}


.requirements {
  float: right;
  margin-top: 0.3rem;

  & > li {
    & > .tooltip {
      display: flex;
      flex-direction: column;
    }

    &.disabled {

      & > .tooltip > *:last-child {
        color: @error;
      }
    }
  }
}
